# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
VITE_SUPABASE_URL=https://supabase.com/dashboard/project/wrtaeowkypmtvtthkboq
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndydGFlb3dreXBtdHZ0dGhrYm9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkyMDExNDYsImV4cCI6MjA2NDc3NzE0Nn0.sMyoPJiCNBBFNMTUDkz4Yj5Q_A9Xs1lAKp_G8hrt7B4
.env
